*{
    margin: 0px;
    padding: 0px;
}

/* font-family */

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  
/* primary color */
.color-1{
    background-color: #C6E4D6;
}
.color-2{
    color: #0E0E0E;
}

.color-3{
    background-color: #006A50;
}
/* primary btn */

.btn-1{
    color: white;
    font-size: 18px;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    border: 0 solid;
    margin-top: 24px;
}

/* banner section */

.banner{
 margin-top: 20px;
 margin-left: 160px;
 margin-right: 160px;
 border-radius: 24px;
 

}
.bangladesh{
    display: flex;
    justify-content: space-around;
    padding-left: 60px;
    padding-top: 117px;
    padding-bottom: 117px;
}
.bagla{
    color: rgba(32, 31, 31, 0.582);
    font-size: 24px;
    
}

.vision{
    
    font-size: 56px;
    margin-top: 16px;
    
    
}
.img{
  padding-right: 60px;
  
}



.description{
    
}

/* vision */
.future-target{
    
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
    
    
    
}
.title{
    font-size: 40px;
}

.description{
    font-size: 16px;
    padding-top: 24px;
}

.contener{
    display: flex;
    margin-top: 32px;
    justify-content: center;
    gap: 24px;
    
    
}
.digital{
    background-color: #bccce7;
    padding: 20px;
    border-radius: 16px;
   
}
.head-one{
    font-size: 20px;
    padding-top: 24px;
    
}
.head-one-p{
    font-size: 16px;
    padding-top: 12px;
   
    
}
.larn-more-one{
    font-size: 16px;
    color: white;
    border-radius: 8px;
    background-color: #5490F5;
    padding: 11px 20px 11px 20px;
    border: 0 solid;
    margin-top: 64px; 
    margin-bottom: 24px;
}
.green{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 20px;
    
}
.head-tow{
    font-size: 20px;
    padding-top: 24px;
}
.head-tow-p{
    font-size: 16px;
    padding-top: 12px;
   
     
}
.larn-more-tow{
    font-size: 16px;
    color: white;
    border-radius: 8px;
    background-color: #09A15C;
    padding: 11px 20px 11px 20px;
    border: 0 solid; 
    margin-top: 64px; 
    margin-bottom: 24px;
}

.modern{
    background-color: #F7EBCF;
    padding: 16px;
    border-radius: 16px;
    
}
.head-three{
    font-size: 20px;
    padding-top: 24px;
      
}
.head-three-p{
    font-size: 16px;
   padding-top: 12px;
   
    
}

.larn-more-three{
    background-color: #FFC239;
    font-size: 16px;
    color: white;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    border: 0 solid;
    margin-top: 64px;
    margin-bottom: 24px;
}
.news-one{
   display: flex;
   background-color: #fcf8f8;
   padding: 48px;
   border-radius: 24px;
}
.news{
    margin-top: 24px;
    margin-left: 160px;
    margin-right: 160px;  
}
.news-title{
    font-size: 40px;
    margin-top: 80px;
   
}
.news-feed{
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 32px;
}

.sata-pic{
    border-radius: 24px;
    margin-right: 32px;
}
.news-heading{
    font-size: 32px;
    padding-bottom: 12px;
}
.date-time{
    display: flex;
    gap: 10px;
    font-size: 16px;
    padding-top: 12px;
}
.news-feed{
    font-size: 16px;
    padding-bottom: 32px;
}

.read-more-one{
    background-color: #006A50;
    padding: 13px 26px 13px 26px;
    color: white;
    border-radius: 8px;
    border: 0 solid;
    font-size: 18px;
}

/* donate */

.donate{
    margin-top: 80px;
    margin-right: 160px;
    margin-left: 160px;
}

.donate-heading{
    font-size: 40px;
    text-align: center;
}

.d-para{
    font-size: 16px;
    text-align: center;
    padding-top: 24px;
}

.taka-card{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 32px;
}

.take-tow{
    background-color: #C6E4D6;
    padding: 40px 20px 40px 20px;
    border-radius: 16px;
    font-size: 40px;
    margin: auto;
}

.taka-one-two-three{
    font-size: 40px;
    padding: 40px 20px 40px 20px;
    background-color: #fcf8f8;
    border-radius: 16px;
    margin: auto;

}

.other-amount{
    display: flex;
    justify-content: center;
    
}

.other{
    background-color: #fcf8f8;
    border: 0 solid;
    text-align: center;
    padding: 20px 422px 20px 422px;
    margin-top: 32px;
    margin-right: 124px;
    margin-left: 124px;
    font-size: 20px;
    
}

.done-now{
    justify-content: center;
    display: flex;
    margin-bottom: 80px;
}

.btn{
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    border: 0 solid;
    font-size: 18px;
    margin-top: 32px;
}

/* subscribe-newsletter */

.subscribe-newsletter{
    background-color: #C6E4D6;
    margin-right: 160px;
    margin-left: 160px;
    border-radius: 24px;
    padding: 80px 100px 80px 100px;
}

.sub-news{
    text-align: center;
    font-size: 40px;
}

.sub-news-p{
    text-align: center;
    font-size: 16px;
    padding-top: 16px;
}

.emali-box{
    text-align: center;
    
}

.your-email{
    border-radius: 8px 0 0 8px;
    padding: 18px 403px 18px 40px;
    border: 0 solid;
    margin-top: 24px;
}

.subscribe-btn{
    font-size: 18px;
    background-color: #006A50;
    color: white;
    padding: 15px 34px 15px 34px;
    border-radius: 0 8px 8px 0;
    border: 0 solid;
}
/* hover */
.subscribe-btn:hover{
    background-color: brown;
}
.btn:hover{
    background-color: brown;   
}
.taka-one-two-three:hover{
    background-color: brown;  
}
.take-tow:hover{
    background-color: brown; 
}

.read-more-one:hover{
    background-color: brown; 
}

.larn-more-three:hover{
    background-color: brown;    
}

.larn-more-tow:hover{
    background-color: brown;
}

.larn-more-one:hover{
    background-color: brown; 
}

.btn-1:hover{
    background-color: brown;  
}


